{% extends 'base.html' %}

{% load static %}

{% block extraFiles %}

    <!-- Datatables importation -->
    <link href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>

    <!-- Datatables configuration -->
    <script src="{% static 'salesMetalprotec/js/billsMetalprotec.js' %}"></script>

    <!-- Select form importation -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta2/dist/js/bootstrap-select.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta2/dist/css/bootstrap-select.min.css">
{% endblock %}

{% block pageContent %}
    <div class="container" style="height: 100vh; overflow: scroll;">
        <h1 class="mt-3 mb-3">Facturas</h1>
        <br>
        <div class="row">
            <form class="row" method="post" action="{% url 'salesMetalprotec:exportFilteredBills' %}">
            {% csrf_token %}
                <div class="col-2">
                    <div class="row mx-0">
                        <label>Fecha inicial</label>
                        <input type="date" class="form-control" name="startDate">
                    </div>
                </div>
                <div class="col-2">
                    <div class="row mx-0">
                        <label>Fecha final</label>
                        <input type="date" class="form-control" name="endDate">
                    </div>
                </div>
                <div class="col-2" style="display: none;">
                    <br>
                    <div class="row mx-0">
                        <button type="button" class="btn btn-success" name="filterBills">Filtrar</button>
                    </div>
                </div>
                <div class="col-2">
                    <br>
                    <div class="row mx-0">
                        <button class="btn btn-success" type="submit" name="exportBills">Exportar</button>
                    </div>
                </div>
                <div class="col-2">
                    <br>
                    <div class="row mx-0">
                        <a class="btn btn-success" href="{% url 'salesMetalprotec:billsMetalprotec' %}">Reestablecer</a>
                    </div>
                </div>
            </form>
        </div>
        <br>
        <div>
            <table class="table table-bordered table-hover" id="billsTable" style="font-size: 12px;">
                <thead class="table-dark">
                    <th scope="col">Cliente</th>
                    <th scope="col">Codigo</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Descargar Factura</th>
                    <th scope="col">Enviar a TeFacturo</th>
                    <th scope="col">Verificar Estado</th>
                    <th scope="col">Estado TeFacturo</th>
                    <th scope="col">Stock descontado</th>
                    <th scope="col">Emitir Nota de Credito</th>
                </thead>
                <tbody>
                    {% for billInfo in billsSystem %}
                        {% if billInfo.typeItemsBill == 'PRODUCTOS' %}
                            {% if billInfo.originBill == 'GUIDE' %}
                            <tr>
                                <td>{{ billInfo.guidesystem_set.all.0.asociatedQuotation.quotationclientdata.dataClientQuotation.1 }}</td>
                                <td>{{ billInfo.codeBill }}</td>
                                <td>{{ billInfo.dateBill }}</td>
                                <td>
                                    {% if billInfo.stateBill == 'GENERADA' %}
                                    <div class="bg-success rounded-pill text-white text-center">{{ billInfo.stateBill }}</div>
                                    {% endif %}
                                    {% if billInfo.stateBill == 'ENVIADA' %}
                                    <div class="bg-primary rounded-pill text-white text-center">{{ billInfo.stateBill }}</div>
                                    {% endif %}
                                    {% if billInfo.stateBill == 'ANULADA' %}
                                    <div class="bg-warning rounded-pill text-white text-center">{{ billInfo.stateBill }}</div>
                                    {% endif %}
                                </td>
                                <td class="text-center"><a class="btn btn-warning" href="{% url 'salesMetalprotec:editDataBill' billInfo.id %}"><i class="fa-solid fa-pen-to-square"></i></a></td>
                                {% if billInfo.stateBill == 'ENVIADA' %}
                                    <td class="text-center"><a class="btn btn-info" href="{% url 'salesMetalprotec:downloadBillTeFacturo' billInfo.id %}"><i class="fa-solid fa-download"></i></a></td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                                {% if billInfo.stateBill == 'GENERADA' %}
                                    <td class="text-center"><a class="btn btn-success" href="{% url 'salesMetalprotec:sendBillTeFacturo' billInfo.id %}"><i class="fa-solid fa-arrow-right"></i></a></td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                                {% if billInfo.stateBill == 'ENVIADA' %}
                                    <td class="text-center"><a class="btn btn-success" href="{% url 'salesMetalprotec:verifyBillTeFacturo' billInfo.id %}"><i class="fa-solid fa-check"></i></a></td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                                <td>{{ billInfo.stateTeFacturo }}</td>
                                <td class="text-center">
                                    {% if billInfo.stockBill is None and billInfo.stateTeFacturo == 'Aceptado' %}
                                    <a class="btn btn-warning" href="{% url 'salesMetalprotec:discountStockBill' billInfo.id %}">D</a>
                                    {% elif billInfo.stockBill == '2' and billInfo.stateTeFacturo == 'Aceptado' %}
                                    <button class="btn btn-success">D</button>
                                    {% elif billInfo.stockBill == '1' and billInfo.stateTeFacturo == 'Aceptado' %}
                                    <button class="btn btn-danger">D</button>
                                    {% elif billInfo.stockBill == '2' and billInfo.stateTeFacturo == 'Anulado' %}
                                    <a class="btn btn-warning" href="{% url 'salesMetalprotec:rollbackDiscountStockBill' billInfo.id %}">R</a>
                                    {% elif billInfo.stockBill is None and billInfo.stateTeFacturo == 'Anulado' %}
                                    <button class="btn btn-success">R</button>
                                    {% elif billInfo.stockBill == '1' and billInfo.stateTeFacturo == 'Anulado' %}
                                    <button class="btn btn-danger">R</button>
                                    {% else %}
                                    {% endif %}
                                </td>
                                {% if billInfo.stateBill == 'ENVIADA' %}
                                    <td class="text-center">
                                        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#createCreditNote" id="bill{{ billInfo.id }}" onclick="chargeProductsCreditNote(this.id)"><i class="fa-solid fa-trash"></i></button>
                                    </td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                            </tr>
                            {% else %}
                            <tr>
                                <td>{{ billInfo.asociatedQuotation.quotationclientdata.dataClientQuotation.1 }}</td>
                                <td>{{ billInfo.codeBill }}</td>
                                <td>{{ billInfo.dateBill }}</td>
                                <td>
                                    {% if billInfo.stateBill == 'GENERADA' %}
                                    <div class="bg-success rounded-pill text-white text-center">{{ billInfo.stateBill }}</div>
                                    {% endif %}
                                    {% if billInfo.stateBill == 'ENVIADA' %}
                                    <div class="bg-primary rounded-pill text-white text-center">{{ billInfo.stateBill }}</div>
                                    {% endif %}
                                    {% if billInfo.stateBill == 'ANULADA' %}
                                    <div class="bg-warning rounded-pill text-white text-center">{{ billInfo.stateBill }}</div>
                                    {% endif %}
                                </td>
                                <td class="text-center"><a class="btn btn-warning" href="{% url 'salesMetalprotec:editDataBill' billInfo.id %}"><i class="fa-solid fa-pen-to-square"></i></a></td>
                                {% if billInfo.stateBill == 'ENVIADA' %}
                                    <td class="text-center"><a class="btn btn-info" href="{% url 'salesMetalprotec:downloadBillTeFacturo' billInfo.id %}"><i class="fa-solid fa-download"></i></a></td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                                {% if billInfo.stateBill == 'GENERADA' %}
                                    <td class="text-center"><a class="btn btn-success" href="{% url 'salesMetalprotec:sendBillTeFacturo' billInfo.id %}"><i class="fa-solid fa-arrow-right"></i></a></td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                                {% if billInfo.stateBill == 'ENVIADA' %}
                                    <td class="text-center"><a class="btn btn-success" href="{% url 'salesMetalprotec:verifyBillTeFacturo' billInfo.id %}"><i class="fa-solid fa-check"></i></a></td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                                <td>{{ billInfo.stateTeFacturo }}</td>
                                <td class="text-center">
                                    {% if billInfo.stockBill is None and billInfo.stateTeFacturo == 'Aceptado' %}
                                    <a class="btn btn-warning" href="{% url 'salesMetalprotec:discountStockBill' billInfo.id %}">D</a>
                                    {% elif billInfo.stockBill == '2' and billInfo.stateTeFacturo == 'Aceptado' %}
                                    <button class="btn btn-success">D</button>
                                    {% elif billInfo.stockBill == '1' and billInfo.stateTeFacturo == 'Aceptado' %}
                                    <button class="btn btn-danger">D</button>
                                    {% elif billInfo.stockBill == '2' and billInfo.stateTeFacturo == 'Anulado' %}
                                    <a class="btn btn-warning" href="{% url 'salesMetalprotec:rollbackDiscountStockBill' billInfo.id %}">R</a>
                                    {% elif billInfo.stockBill is None and billInfo.stateTeFacturo == 'Anulado' %}
                                    <button class="btn btn-success">R</button>
                                    {% elif billInfo.stockBill == '1' and billInfo.stateTeFacturo == 'Anulado' %}
                                    <button class="btn btn-danger">R</button>
                                    {% else %}
                                    {% endif %}
                                </td>
                                {% if billInfo.stateBill == 'ENVIADA' %}
                                    <td class="text-center">
                                        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#createCreditNote" id="bill{{ billInfo.id }}" onclick="chargeProductsCreditNote(this.id)"><i class="fa-solid fa-trash"></i></button>
                                    </td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                            </tr>
                            {% endif %}
                        {% else %}
                        <tr>
                            <td>{{ billInfo.asociatedQuotation.quotationclientdata.dataClientQuotation.1 }}</td>
                            <td>{{ billInfo.codeBill }}</td>
                            <td>{{ billInfo.dateBill }}</td>
                            <td>
                                {% if billInfo.stateBill == 'GENERADA' %}
                                <div class="bg-success rounded-pill text-white text-center">{{ billInfo.stateBill }}</div>
                                {% endif %}
                                {% if billInfo.stateBill == 'ENVIADA' %}
                                <div class="bg-primary rounded-pill text-white text-center">{{ billInfo.stateBill }}</div>
                                {% endif %}
                                {% if billInfo.stateBill == 'ANULADA' %}
                                <div class="bg-warning rounded-pill text-white text-center">{{ billInfo.stateBill }}</div>
                                {% endif %}
                            </td>
                            <td class="text-center"><a class="btn btn-warning" href="{% url 'salesMetalprotec:editDataBill' billInfo.id %}"><i class="fa-solid fa-pen-to-square"></i></a></td>
                            {% if billInfo.stateBill == 'ENVIADA' %}
                                <td class="text-center"><a class="btn btn-info" href="{% url 'salesMetalprotec:downloadBillTeFacturo' billInfo.id %}"><i class="fa-solid fa-download"></i></a></td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            {% if billInfo.stateBill == 'GENERADA' %}
                                <td class="text-center"><a class="btn btn-success" href="{% url 'salesMetalprotec:sendBillTeFacturo' billInfo.id %}"><i class="fa-solid fa-arrow-right"></i></a></td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            {% if billInfo.stateBill == 'ENVIADA' %}
                                <td class="text-center"><a class="btn btn-success" href="{% url 'salesMetalprotec:verifyBillTeFacturo' billInfo.id %}"><i class="fa-solid fa-check"></i></a></td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            <td>{{ billInfo.stateTeFacturo }}</td>
                            <td class="text-center">
                                {% if billInfo.stockBill is None and billInfo.stateTeFacturo == 'Aceptado' %}
                                <a class="btn btn-warning" href="{% url 'salesMetalprotec:discountStockBill' billInfo.id %}">D</a>
                                {% elif billInfo.stockBill == '2' and billInfo.stateTeFacturo == 'Aceptado' %}
                                <button class="btn btn-success">D</button>
                                {% elif billInfo.stockBill == '1' and billInfo.stateTeFacturo == 'Aceptado' %}
                                <button class="btn btn-danger">D</button>
                                {% elif billInfo.stockBill == '2' and billInfo.stateTeFacturo == 'Anulado' %}
                                <a class="btn btn-warning" href="{% url 'salesMetalprotec:rollbackDiscountStockBill' billInfo.id %}">R</a>
                                {% elif billInfo.stockBill is None and billInfo.stateTeFacturo == 'Anulado' %}
                                <button class="btn btn-success">R</button>
                                {% elif billInfo.stockBill == '1' and billInfo.stateTeFacturo == 'Anulado' %}
                                <button class="btn btn-danger">R</button>
                                {% else %}
                                {% endif %}
                            </td>
                            {% if billInfo.stateBill == 'ENVIADA' %}
                                <td class="text-center">
                                    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#createCreditNote" id="bill{{ billInfo.id }}" onclick="chargeProductsCreditNote(this.id)"><i class="fa-solid fa-trash"></i></button>
                                </td>
                            {% else %}
                                <td></td>
                            {% endif %}
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block modalContent %}

    <!-- Select type of credit note -->
    <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" id="createCreditNote">
        <div class="modal-dialog modal-lg" role="document">
            <form method="post" action="{% url 'salesMetalprotec:createCreditNoteFromBill' %}">
            {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header">
                        <div style="display: none;">
                            <input id="idBill" type="text" name="idBill">
                        </div>
                        <h5 class="modal-title">Crear nota de credito</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="cleanModalCreditNote()"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row mb-3">
                            <div class="col-12">
                                <label>Seleccionar tipo</label>
                                <select class="selectpicker form-control" data-live-search="true" id="creditNotePurpose" name="creditNotePurpose" required>
                                    <option value="" selected></option>
                                    <option value="ANULACION_OPERACION">ANULACION</option>
                                    <option value="DEVOLUCION_POR_ITEM">DEVOLUCION PARCIAL</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12">
                                <table class="table table-bordered table-hover">
                                    <thead class="table-dark">
                                        <th>Codigo</th>
                                        <th>Descripcion</th>
                                        <th>Cantidad</th>
                                        <th>Eliminar</th>
                                    </thead>
                                    <tbody id="productsCreditNote">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="cleanModalCreditNote()">Cancelar</button>
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Crear Nota</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}