{% extends 'base.html' %}

{% load static %}

{% block extraFiles %}

    <!-- Datatables importation -->
    <link href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>

    <!-- Datatables configuration -->
    <script src="{% static 'salesMetalprotec/js/guidesMetalprotec.js' %}"></script>

    <!-- Select form importation -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta2/dist/js/bootstrap-select.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta2/dist/css/bootstrap-select.min.css">
{% endblock %}

{% block pageContent %}
    <div class="container" style="height: 100vh; overflow: scroll;">
        <h1 class="mt-3 mb-3">Guias</h1>
        <br>
        <div class="row">
            <div class="col-2">
                <div class="row mx-0">
                    <label>Fecha inicial</label>
                    <input type="date" class="form-control" name="startDate">
                </div>
            </div>
            <div class="col-2">
                <div class="row mx-0">
                    <label>Fecha final</label>
                    <input type="date" class="form-control" name="endDate">
                </div>
            </div>
            <div class="col-2">
                <br>
                <div class="row mx-0">
                    <button class="btn btn-success" name="filterGuides">Filtrar</button>
                </div>
            </div>
            <div class="col-2">
                <br>
                <div class="row mx-0">
                    <button class="btn btn-success" name="exportGuides">Exportar</button>
                </div>
            </div>
        </div>
        <br>
        <div>
            <table class="table table-bordered table-hover" id="guidesTable" style="font-size: 12px;">
                <thead class="table-dark">
                    <th scope="col">Cliente</th>
                    <th scope="col">Codigo</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Descargar Guia</th>
                    <th scope="col">Seleccionar</th>
                    <th scope="col">Emitir Comprobante</th>
                    <th scope="col">Verificar Estado</th>
                    <th scope="col">Estado TeFacturo</th>
                    <th scope="col">Enviar a TeFacturo</th>
                </thead>
                <tbody>
                    {% for guideInfo in guidesSystem %}
                    <tr>
                        <td>{{ guideInfo.asociatedQuotation.quotationclientdata.dataClientQuotation.1 }}</td>
                        <td>{{ guideInfo.codeGuide }}</td>
                        <td>{{ guideInfo.dateGuide }}</td>
                        <td>
                            {% if guideInfo.stateGuide == 'GENERADA' %}
                            <div class="bg-success rounded-pill text-white text-center">{{ guideInfo.stateGuide }}</div>
                            {% endif %}
                            {% if guideInfo.stateGuide == 'ENVIADA' %}
                            <div class="bg-primary rounded-pill text-white text-center">{{ guideInfo.stateGuide }}</div>
                            {% endif %}
                            {% if guideInfo.stateGuide == 'EMITIDA' %}
                            <div class="bg-warning rounded-pill text-white text-center">{{ guideInfo.stateGuide }}</div>
                            {% endif %}
                        </td>
                        <td class="text-center"><a class="btn btn-warning" href="{% url 'salesMetalprotec:editDataGuide' guideInfo.id %}"><i class="fa-solid fa-pen-to-square"></i></a></td>
                        {% if guideInfo.stateGuide != 'GENERADA' %}
                            <td class="text-center"><a class="btn bg-info" href="{% url 'salesMetalprotec:downloadGuideTeFacturo' guideInfo.id %}"><i class="fa-solid fa-download"></i></a></td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        {% if guideInfo.stateGuide == 'ENVIADA' %}
                            {% if guideInfo.stateTeFacturo == 'Aceptado' or guideInfo.stateTeFacturo == 'Aceptado con Obs.' %}
                                <td class="text-center selectedGuide" id="{{ guideInfo.id }}"><input class="form-check-input" type="checkbox"></td>
                            {% else %}
                                <td></td>
                            {% endif %}
                        {% else %}
                            <td></td>
                        {% endif %}
                        {% if guideInfo.stateGuide == 'ENVIADA' %}
                            {% if guideInfo.stateTeFacturo == 'Aceptado' or guideInfo.stateTeFacturo == 'Aceptado con Obs.' %}
                                {% if guideInfo.asociatedQuotation.quotationclientdata.dataClientQuotation.3 == 'EMPRESA' %}
                                    <td class="text-center"><a class="btn btn-success" href="{% url 'salesMetalprotec:createBillFromGuide' guideInfo.id %}">F</a></td>
                                {% else %}
                                    <td class="text-center"><a class="btn btn-success" href="{% url 'salesMetalprotec:createInvoiceFromGuide' guideInfo.id %}">B</a></td>
                                {% endif %}
                            {% else %}
                                <td></td>
                            {% endif %}
                        {% else %}
                        <td></td>
                        {% endif %}
                        {% if guideInfo.stateGuide != 'GENERADA' %}
                            <td class="text-center"><a class="btn btn-success" href="{% url 'salesMetalprotec:verifyGuideTeFacturo' guideInfo.id %}"><i class="fa-solid fa-check"></i></a></td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        <td>{{ guideInfo.stateTeFacturo }}</td>
                        {% if guideInfo.stateTeFacturo == '' %}
                            <td class="text-center"><a class="btn btn-success" href="{% url 'salesMetalprotec:sendGuideTeFacturo' guideInfo.id %}"><i class="fa-solid fa-arrow-right"></i></a></td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}