{% extends 'base.html' %}

{% load static %}

{% block extraFiles %}

    <!-- Datatables importation -->
    <link href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>

    <!-- Datatables configuration -->
    <script src="{% static 'financeMetalprotec/js/bankRegisters.js' %}"></script>

    <!-- Select form importation -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta2/dist/js/bootstrap-select.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta2/dist/css/bootstrap-select.min.css">
{% endblock %}

{% block pageContent %}
    <div class="container" style="height: 100vh; overflow: scroll;">
        <h1 class="mt-3 mb-3">Registros bancarios</h1>
        <br>
        <div class="row">
            <div class="col-3">
                <div class="row mx-0">
                    <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#newBank" onclick="deleteAllData()">Registrar cuenta <i class="fa-solid fa-plus"></i></button>
                </div>
            </div>
            <div class="col-3">
                <div class="row mx-0">
                    <button class="btn btn-success" name="filterQuotations">Importar <i class="fa-solid fa-file-import"></i></button>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-2">
                <div class="row mx-0">
                    <label>Mes</label>
                    <select name="monthSelected" class="selectpicker form-control">
                        <option value="" selected></option>
                        <option value="1">ENERO</option>
                        <option value="2">FEBRERO</option>
                        <option value="3">MARZO</option>
                        <option value="4">ABRIL</option>
                        <option value="5">MAYO</option>
                        <option value="6">JUNIO</option>
                        <option value="7">JULIO</option>
                        <option value="8">AGOSTO</option>
                        <option value="9">SEPTIEMBRE</option>
                        <option value="10">OCTUBRE</option>
                        <option value="11">NOVIEMBRE</option>
                        <option value="12">DICIEMBRE</option>
                    </select>
                </div>
            </div>
            <div class="col-2">
                <div class="row mx-0">
                    <label>Año</label>
                    <select class="selectpicker form-control" name="selectedYear">
                        <option value="" selected></option>
                        <option value="2022">2022</option>
                        <option value="2023">2023</option>
                        <option value="2024">2024</option>
                        <option value="2025">2025</option>
                        <option value="2026">2026</option>
                        <option value="2027">2027</option>
                    </select>
                </div>
            </div>
            <div class="col-2">
                <br>
                <div class="row mx-0">
                    <button class="btn btn-success" name="filterQuotations">Filtrar</button>
                </div>
            </div>
            <div class="col-2">
                <br>
                <div class="row mx-0">
                    <button class="btn btn-success" name="exportQuotations">Comprobar</button>
                </div>
            </div>
            <div class="col-2">
                <br>
                <div class="row mx-0">
                    <button class="btn btn-info" name="exportQuotations">Instructivo <i class="fa-solid fa-download"></i></button>
                </div>
            </div>
            <div class="col-2">
                <br>
                <div class="row mx-0">
                    <button class="btn btn-success" name="exportQuotations">Exportar <i class="fa-solid fa-file-export"></i></button>
                </div>
            </div>
        </div>
        <br>
        <div>
            <table class="table table-bordered table-hover" id="bankRegistersTable" style="font-size: 12px;">
                <thead class="table-dark">
                    <th scope="col">Banco</th>
                    <th scope="col">Moneda</th>
                    <th scope="col">Nro de cuenta</th>
                    <th scope="col">Saldo</th>
                    <th scope="col">Ver</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Eliminar</th>
                </thead>
                <tbody>
                    {% for bankRegisterData in bankRegistersSystem %}
                    <tr>
                        <td>{{ bankRegisterData.nameBank }}</td>
                        <td>{{ bankRegisterData.currencyBank }}</td>
                        <td>{{ bankRegisterData.accountNumber }}</td>
                        <td>{{ bankRegisterData.moneyBank }}</td>
                        <td class="text-center"><a class="btn btn-info" href="{% url 'financeMetalprotec:showBankRegister' bankRegisterData.id %}"><i class="fa-solid fa-eye"></i></a></td>
                        <td class="text-center"><a class="btn btn-warning" href="#"><i class="fa-solid fa-edit"></i></a></td>
                        <td class="text-center"><a class="btn btn-danger" href="{% url 'financeMetalprotec:deleteBankRegister' bankRegisterData.id %}"><i class="fa-solid fa-trash-can"></i></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}


{% block modalContent %}

    <!-- Register a new bank -->
    <div class="modal fade" tabindex="-1" role="dialog" id="newBank" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form method="post" action="{% url 'financeMetalprotec:bankRegisters' %}">
                {% csrf_token %}
                    <div  class="modal-header">
                        <h5 class="modal-title">Nueva cuenta bancaria</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="deleteAllData()"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label>Banco</label>
                                <input type="text" class="form-control" name="nameBank" id="nameBank" required>
                            </div>
                            <div class="col-md-6">
                                <label>Moneda</label>
                                <select class="selectpicker form-control" name="currencyBank" id="currencyBank" required>
                                    <option value="" selected></option>
                                    <option value="DOLARES">DOLARES</option>
                                    <option value="SOLES">SOLES</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <label>Nro de cuenta bancaria</label>
                                <input type="text" class="form-control" name="accountNumber" id="accountNumber" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label>Saldo inicial</label>
                                <input type="number" step="0.01" class="form-control" name="moneyBank" id="moneyBank" required>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Agregar</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="deleteAllData()">Cancelar</button>
                    </div>
                </form>
            </div>        
        </div>
    </div>

{% endblock %}